<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab5e4afff4.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <title>AIVerse</title>
</head>

<body>

        <!-- header section  -->
        <header class="navbar">
            <div class="header">
                <div id="logo">
                    <a href="/"><h1>AIVerse.</h1></a>
                </div>
                <div class="menu">
                    <ul class='menu-links'>
                        <li><a href="/login">ADMIN LOGIN</a></li>
                        <li><a href="/reg">REGISTRATION</a></li>

                    </ul>
                </div>

            </div>
        </header>

        <div class="reg">
            <a href="/reg">REGISTRATION</a>
        </div>

        <!-- animations -->
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>

        <!-- hero section  -->
        <div class="intro">
            <h1 class="intro-class">We<span class="heighlight1"> Welcome</span> <br> you to the <br> <span
                    class="heighlight2">MetaMind.</span></h1>

            <div class="down-arrow">
                <a href="/"><i class="fa-solid fa-angle-down fa-2xl"></i></a>
            </div>

        </div>
        <!-- <hr class="hr-line1"> -->
        <!-- event section  -->
        <div class="events-section">
            <hr id="event">
            <hr class="hr-line1">
            <h1>EVENTS</h1>


            <div class="slider">
                <div class="slide-track">
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                    <div class="slide">

                    </div>
                </div>
            </div>
            <hr class="hr-line2">
        </div>

        <!-- footer section  -->
        <footer class="footer">
            <div class="footer-logo">
                <h1>MetaMind.</h1>
            </div>

            <div class="sociallinks">

            </div>

            <div class="c-line"></div>
            <div class="copyright">
                Copyright &copy;2023 | AIVerse
            </div>
        </footer>
    
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>